.chart_container{
  height: 300px;
}

.card{
  border:none;
  border-radius: none;
  box-shadow: none;
}

.card_content{
  padding:0;
}

.current_balance{
  color:var(--color_grey-900);
  font-size: 2rem;
  font-weight: 700;
}
