
.sort_container{
    position: relative;
}

.mobile_sort_transaction{
    display:block;
}
.larger_screen_sort_transaction{
    display:none;
}


@media(min-width:767px){
    .mobile_sort_transaction{
        display:none;
    }

    .larger_screen_sort_transaction{
        display:flex;
        align-items: center;
        gap:.5rem;
    }
    .larger_screen_sort_transaction label{
        font-size: .875rem;
        color:var(--grey_500);
        font-weight: 400;
    }

    .desktop_sort_transaction{
        display:flex;
        align-items: center;
        gap:1rem;
        border-radius: 8px;
        border: 1px solid var(--beige_500);
        background: var(--white_clr);
        padding:var(--spacing_150);
        color:var(--grey_900);
        font-weight: 400;
        font-size: .875rem;
    }
}