.bills_container{
    background:var(--white_clr);
    border-radius: 12px;
    margin-top:var(--spacing_200);
    padding:var(--spacing_300) var(--spacing_250);
}

.bills_header{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.bills_items{
    display:flex;
    flex-direction: column;
    gap:12px;
    padding-top:var(--spacing_400);
}

@media(min-width:1200px){
    .bills_container{
        margin:0;
        grid-column: 3/4;
        height: fit-content;
    }
}