.budget_card{
    display:flex;
    flex-direction: column;
    padding:var(--spacing_300) var(--spacing_250);
    margin:var(--spacing_200) 0;
    background:var(--white_clr);
    border-radius: 12px;
}

.budget_card_header{
    display:flex;
    align-items: center;
    gap:1rem;
}

.category_theme_elipsis{
    display:block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

.budget_card button{
    margin-left: auto;
}

.budget_card_content_info{
   display:flex;
   flex-direction: column;
   gap:1.5rem;
   padding:1.125rem 0 0;
}

.budget_card_content_info_maximun{
  font-size: .875rem;
  color:var(--grey_500);
  font-weight: 400;
}


@media(min-width:767px){
    .budget_card{
       padding:var(--spacing_400);
       margin:var(--spacing_300) 0;
    } 
}

@media(min-width:1200px){
    .budget_card{
       padding:var(--spacing_400);
       margin:1.5rem 0;
    } 
    .budget_card:first-child{
        margin: 0;
    }
}

