@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F8F4F0;
  --foreground: #171717;

   /* colors */

   --beige_500:#98908B;
   --beige_100:#F8F4F0;

   --grey_900:#201F24;
   --grey_500:#696868;
   --grey_300:#B3B3B3;
  
   --grey_100:#F2F2F2;

   --green_clr:#277C78;
   --yellow_clr:#F2CDAC;
   --cyan_clr:#82C9D7;
   --navy_clr:#626070;
   --red_clr:#C94736;
   --violet_clr:#826CB0;
   --purple_clr:#AF81BA;
   --turquoise_clr:#597C7C;
   --brown_clr:#93674F;
   --magenta_clr:#934F6F;
   --blue_clr:#3F82B2;
   --navy_grey_clr:#97A0AC;
   --army_green_clr:#7F9161;
   --gold_clr:#CAB361;
   --orange_clr:#BE6C49;
   --white_clr:#FFFFFF;


   /* spacing */

   --spacing_50:.25rem;
   --spacing_100:.5rem;
   --spacing_150:.75rem;
   --spacing_200:1rem;
   --spacing_250:1.25rem;
   --spacing_300:1.5rem;
   --spacing_400:2rem;
   --spacing_500:2.5rem;

   /* Screen Size */
   --tablet_view:767px;
   --desktop_view:1200px
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F8F4F0;
    /* --foreground: #ededed; */
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
  padding:0
}

/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}

body {
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  /* padding-bottom:.85rem; */
  line-height: 1.5;
  background: var(--background);
}

/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}
main{
  position: relative;
}
ul{
  list-style-type: none;
}

a{
  text-decoration: none;
  color:inherit;
}

.content_container{
  padding:var(--spacing_300) var(--spacing_200);
}

@media(min-width:767px){
  .content_container{
    padding:var(--spacing_400) var(--spacing_500);
  }
}

@media(min-width:1200px){
  body{
    grid-template-columns: 300px 1fr;
  }
  
  .content_container{
    grid-column: 2/3;
    grid-row:1/3;
  }

}


