.balance_amount{
    color:var(--grey_900);
    font-weight: 700;
}
.balance_amount.xs{
    font-size: .75rem;
}
.balance_amount.sm{
    font-size: .875rem;
}
.balance_amount.md{
    font-size: 1rem;
}
.balance_amount.lg{
    font-size: 2rem;
}
.balance_amount.muted{
    color:var(--grey_500);
    font-weight: 400;
}