
.transaction_container{
    display:flex;
    flex-direction: column;
    background:var(--white_clr);
    border-radius: 12px;
    margin:var(--spacing_300) 0;
    padding:var(--spacing_300) var(--spacing_250);
}

.transactions_header{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.transaction_items_container{
    padding-top:var(--spacing_400);
    padding-bottom: var(--spacing_300);
}
