.transaction_container{
    background:var(--white_clr);
    margin-top:2rem;
    padding: var(--spacing_300) var(--spacing_250);
    border-radius: 12px;
}

.header{
    display:flex;
    justify-content: space-between;
    gap:1rem;  
}

.filter_container{
    display:flex;
    align-items: center;
    gap:1rem;
}

.transaction_content{
    margin:var(--spacing_400) 0;
}