.budget_container{
    background:var(--white_clr);
    border-radius: 12px;
    padding:var(--spacing_300) var(--spacing_250);
}

.budget_header{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.budget_content{
    display:grid;
    grid-template-columns: 1fr;
    padding-top:var(--spacing_250);
}

.image_chart{
    margin:var(--spacing_250) auto ;
}

.summary_budget_category{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(140px,1fr));
    gap:1rem;
}

@media(min-width:767px){
    .budget_content{
        grid-template-columns: 1.3fr auto;
        align-items: center;
    }

.image_chart{
    margin:0 auto ;
}
}