.btn_container{
    background:var(--grey_900);
    color:var(--white_clr);
    font-weight: 700;
    border-radius:.5rem;
    padding:1rem;
    font-size: .875rem;
}

.subtitle{
    font-size: 1.25rem;
    color:var(--grey_900);
    font-weight: 700;
}

@media(min-width:767px){
    .subtitle{
        font-size: 2rem;
    }
}